/* default colors */

$btn-primary: rgba(226, 6, 101, 0.9);
$btn-primary-hover: rgba(189, 15, 90, 0.9);

$text-bold-price: rgba(101, 60, 155, 0.8);
$input-border: rgb(114, 91, 194); 
$input-focus: rgb(101, 60, 155);

$placeholder-color: rgb(170, 170, 170);
$txt-bold-dark: #2c3e50;
$txt-bold-title: rgba(55, 65, 81, 0.7);